.navBar{
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuBars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: black;
}

.nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.headertext {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.headertext a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.headertext a:hover {
    background-color: lightblue;
}

.navBar-items {
    width: 100%;
}

.navBar-toggle {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    
}

span {
    margin-left: 16px;
}

.announcements {
padding: 50px 50px 50px 50px;

}

.footer {
    background-color: gray;
    justify-content: center;
    align-items: center;
    
}

.footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.help-section {
    flex: 1;
    list-style: none;
}

.management {
    flex: 1;
    list-style: none;
}

.follow-us {
    flex: 1;
    list-style: none;
}

.copyright {
    text-align: center;
    padding-top: 50px;
}